:root {
  --primaryText: #15afd5;
  --primaryBackground: #1F1F1F;
  --secondaryBackground: #242424;
  --accent1: #FFFFFF;
  --accent2: #808080;
  --primaryBlack: #080808;
  --mediumBlue: #4DB2D8;
}

body {
  font-size: 16px;
  font-family: 'IBM Plex Sans', Arial, sans-serif;
  background-color: var(--primaryBackground);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2rem;
  color: var(--primaryText);
  margin: 1rem 0;
  text-align: center;
}

/* Game Details/Actions */
.game-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  margin: 1rem 0;
  color: var(--primaryText);
  background-color: var(--secondaryBackground);
  font-weight: 600;
  padding: 1.25rem;
  border: 2px solid var(--accent1);
  border-radius: 0.5rem;
}

button {
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  background-color: lightgray;
  color: var(--primaryBlack);
}

button:hover {
  background-color: rgb(228, 228, 228);
  box-shadow: 0px 0px 4px rgb(228, 228, 228);
}

.gameover-message {
  color: var(--primaryText);
  margin: 1.5rem 0;
  font-size: 1.75rem;
}

/* Board */
.board {
  border: 1px solid var(--mediumBlue);
  border-radius: 1.5px;
  width: calc((2.2rem * 8) + 16px);
  margin: 0 auto;
  box-shadow: 0px 0px 8px var(--mediumBlue);
}

.row {
  display: flex;
}

.tile {
  border: 1px;
  border-style: outset;
  border-bottom-color: var(--mediumBlue);
  border-right-color: var(--mediumBlue);
  height: 2.2rem;
  width: 2.2rem;
  background-color: lightGrey;
  perspective: 600px;
}

.tile:hover {
  background-color: rgb(197, 197, 197);
}

.tile-content-container {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s cubic-bezier(0.13, 0.99, 0.85, 1);
  transform-style: preserve-3d;
}

.tile-content-container.is-flipped {
  transform: rotateY( 180deg );
}

.tile-content {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile-content--back {
  transform: rotateY( 180deg );
}

/* Credit to https://3dtransforms.desandro.com/card-flip for help on the card flipping animation */

.revealed {
  background-color: white;
  border-style: inset;
}

.revealed:hover {
  background-color: white;
}

/* Color Toggle */

.slider-container {
  display: flex;
  align-items: center;
}

.slider {
  background-color: var(--accent1);
  height: 1.6rem;
  width: 5rem;
  border-radius: 0.8rem;
  cursor: pointer;
}

.slider-toggle {
  height: 1.35rem;
  width: 1.35rem;
  border-radius: 50%;
  background-color: var(--accent2);
  margin: 2px;
  transition: transform 0.3s;
  transform: translateX(0);
}

.slider-on {
  transform: translateX(3.42rem);
}

.slider-icon {
  font-size: 1.25rem;
  color: var(--accent1);
  margin: 0 0.5rem;
}

/* Level Drop-down */

select {
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    background-color: lightgray;
    color: var(--primaryBlack);
    cursor: pointer;
}

select:hover {
  background-color: rgb(228, 228, 228);
  box-shadow: 0px 0px 4px rgb(228, 228, 228);
}


@media only screen and (max-width: 580px) {
  .game-details {
    width: 75%;
    padding: 1rem;
  }

  button {
    padding: 0.7rem 0.5rem;;
  }

  select {
    padding: 0.5rem 0.5rem;
  }
}