body {
  font-size: 16px;
}


/* Board */
.board {
  border: 1px solid red;
  width: calc((2.2rem * 8) + 16px);
  margin: 0 auto;
}

.row {
  display: flex;
}

.row > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  padding: 0.35rem;
  height: 1.5rem;
  width: 1.5rem;
}

.tile {
  background-color: lightGrey;
}

.revealed {
  background-color: white;
}